GETOMERCH_MARKING_AGENT_SERVER_URL=https://admin.komui.ru
GETOMERCH_MARKING_AGENT_ID=macbook-marking
GETOMERCH_MARKING_AGENT_DISPLAY_NAME="MacBook marking"
GETOMERCH_MARKING_AGENT_SECRET_FILE=/Users/USERNAME/.config/getomerch-marking/agent-secret

GETOMERCH_MARKING_SIGNER_SOCKET=/Users/USERNAME/.config/getomerch-marking/signer.sock
GETOMERCH_MARKING_SIGNER_CLIENT_ID=marking-mac-agent
GETOMERCH_MARKING_SIGNER_CLIENT_SECRET_FILE=/Users/USERNAME/.config/getomerch-marking/signer-client-secret
GETOMERCH_MARKING_SIGNER_CLIENTS_FILE=/Users/USERNAME/.config/getomerch-marking/signer-clients.json
GETOMERCH_MARKING_SIGNER_CERTIFICATE_FILE=/Users/USERNAME/.config/getomerch-marking/certificate.json
GETOMERCH_MARKING_SIGNER_PROVIDER_COMMAND=/opt/cprocsp/bin/cryptcp
GETOMERCH_MARKING_AGENT_TOKEN_PROBE_COMMAND=/opt/cprocsp/bin/certmgr
GETOMERCH_MARKING_SIGNER_TRANSPORT=unix

GETOMERCH_MARKING_ENABLED=true
GETOMERCH_MARKING_SIGNER_ENABLED=true
GETOMERCH_MARKING_CRPT_INN=<organization-inn>
GETOMERCH_MARKING_AGENT_POLL_MS=2000
GETOMERCH_MARKING_AGENT_CARD_PROBE_MS=10000
